html,body
{
    max-width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
:root{
    --main-bg-color:rgb(245, 245, 245);
    --primary-font-size:1.5rem;
    --header-font-size:2rem;
    --main-font:Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
    min-height: 100vh;
    max-width: -webkit-fill-available;
    background-color: var(--main-bg-color);
    margin: 0;
    box-sizing: border-box;
    
}

/*the style for the left side of the sign up form*/


#sideheader{
    width: 30%;
    display: flex;
    flex-shrink: 0;
    background-image: url(./background.jpeg);
    background-size: cover;
    padding-top: 10%;
}

#headerBG{
    background: rgba(19, 20, 19, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    
}

.title{
    color: white;
    font-size: 4rem;
}


/* controls the style for right side of the form*/

#main{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#intro{
    background-color: var(--main-bg-color);
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    min-height: fit-content;
    font-size: var(--header-font-size);
    font-weight: bold;
    font-family: var(--main-font)
}


.form{
    padding: 50px;
    background-color: white;
    box-shadow: 5px 5px 5px slategray;
}

fieldset{
    border:0;
    color: rgb(55, 96, 112);
    font-family: var(--main-font);
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 40px;
}

legend{
    font-size: var(--header-font-size);
    margin-bottom: 0px;
}

input{
    width: max-content;
    font-size: var(--primary-font-size);
    max-height: var(var(--primary-font-size));
    border-color: #E5E7EB;
    display: flex;
    flex-shrink: 2;
}


input:invalid{
    outline: none;
    border: 2px solid red;
}

input:valid{
    outline: none;
    border: 2px solid green
}

input:focus{
    outline: none;
    border: 2px solid blue;
}

input:focus:invalid{
    outline: none;
    border: 2px solid red;
}

.labels{
    font-weight: bold;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.submit{
    padding: 50px;
    font-family: var(--main-font);
    background-color: var(--main-bg-color);
    
}

#submitBtn{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    font-size: var(--header-font-size);
    background-color: #596D48;
    border: 0;
    border-radius: 5px;
    color: white;
}

#submitBtn:disabled{
    color: grey;
    background-color: lightgray;
}

#submitBtn:not(:disabled):hover{
    background-color: white;
    color: black;
}

@media (max-width: 1200px) {
    fieldset{
        display: flex;
        flex-direction: column;
    }
    
}